/*https://chas-hackathon.lovable.app/checklist?team=M%C3%B6lle*/

:root {
    --offwhite: #faebd7;
    --darkblue: #03021c;
    --pink: #feabd7;
    --hotpink: rgb(202, 33, 123);
}

body {
    font-family: "Poppins", sans-serif; /* Sets the font for the entire page */
    background-color: var(--offwhite); /* Light gray background */
    color: var(--darkblue); /* Dark gray text color */
    margin: 0; /* Removes default margin */
    padding: 20px; /* Adds padding around the content */
}

header{

}


main{
    display: flex;
    flex-direction: column;
}

.us-container{
    display: flex;
}

.us img{
    height: 400px;
    width: auto;
}

article{
    display: flex;
    flex-direction: column;
}

section{
}