/*https://chas-hackathon.lovable.app/checklist?team=M%C3%B6lle*/

:root {
    --offwhite: #faebd7;
    --darkblue: #03021c;
    --pink: #feabd7;
    --hotpink: rgb(202, 33, 123);
}

body {
    font-family: "Poppins", sans-serif; /* Sets the font for the entire page */
    background-color: var(--offwhite); /* Light gray background */
    color: var(--darkblue); /* Dark gray text color */
    margin: 0; /* Removes default margin */
    padding: 20px; /* Adds padding around the content */
  
}

header{
}

.hero{
    max-height: 200px;
    width: auto;

}


main{
    width: auto;
}

.us-container{
    border: solid ;
    display: flex;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.us{
margin: 6px;
padding: 6px;
border: solid;
width: 300px;
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;

}
.us img{
    max-height: 400px;
    width: auto;
}

article{
    display: flex;
    flex-direction: column;
}

section{

}